/* Contenedor Principal */
.cotizador-container {
    background-color: #FEF3EB;
    padding: 25px 30px;
    border-radius: 8px;
    max-width: 950px;
    margin: 20px auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.disclaimer{
    padding-top:15px !important;
	color:#6B6B6B !important;
}

/* Formulario de Inputs */
.cotizador-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    align-items: flex-end;
    margin-bottom: 30px;
}

.cotizador-input-group {
    display: flex;
    flex-direction: column;
}

.cotizador-input-group label {
    font-size: 14px;
    color: #555;
    margin-bottom: 8px;
    font-weight: 500;
}

.cotizador-input-group input,
.cotizador-input-group select {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    width: 100%;
}

#calcular-btn {
    background-color: #E20E17 !important;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
    height: 48px; /* Misma altura que los inputs */
}

#calcular-btn:hover {
    background-color: #E20E17;
    transform: translateY(-2px);
}

#calcular-btn:disabled {
    background-color: #999;
    cursor: not-allowed;
}

/* Resultados */
.cotizador-results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 20px 15px;
    padding-top: 20px;
    border-top: 1px solid #d1d0c7;
}

.result-item {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.result-item span {
    font-size: 14px;
    color: #555;
}

.result-item strong {
    font-size: 1.25em;
    color: #333;
    font-weight: 600;
    margin-top: 5px;
    word-break: break-all;
}